*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(image/thunder2.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.container{
    height: 35rem;
    width: 70rem;
    /* border: 2px solid rgb(249, 4, 4); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.face1,.face2{
    height: 34rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

}
.pic1,.pic2{
    height: 22rem;
    width: 20rem;
    border: 1px solid rgb(250, 245, 245);
    background-color: black;


}
.pic1{
    /* background-image:url(image/pic.jpg) ; */
    background-size: cover;
    background-position: center;
    background-color: black;
}
.pic2{
    /* background-image:url(image/samar.jpeg) ; */
    background-size: cover;
    background-position: center;
}
.btn,.btn1{
    height: 40px;
    width: 140px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 18px;
     border: 2px solid rgb(0, 0, 0);
     font-weight: bold;
}
.btn:hover{
    background-color: white;
    color: rgb(5, 155, 30);
}
input{
    height: 40px;
    width: 240px;
       /* border-top: none;
    border-left: none;
    border-right: none; */
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 21px;
    text-align: center;
    border-radius: 20px;
}
#A_count,#B_count{
    height: 40px;
    width: 60px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

